@model IEnumerable<VideoWorld.Models.Statement>

@{
    ViewBag.Title = "Index";
}

<h2>Statement History</h2>

<div class="statements">
@foreach (var statement in Model) {
    <div class="statement">
        <pre>
        @Html.Partial("Statement", statement)
		Points from this transaction: @statement.Order.GetPoints()      
        </pre>
    </div>
}

<p>Total Points: @Model.Sum(m => m.Order.GetPoints())</p>
<p>Total Amount Spent:	$@String.Format("{0:0.00}", Model.Sum(m => m.GetTotalValue())) </p>
@if(Model.Sum(m => m.Order.GetPoints()) > 10)
{
	<text>You are eligible for a free rental</text>
}
</div>
