@model IEnumerable<VideoWorld.Models.Statement>

@{
    ViewBag.Title = "Index";
}

<h2>Statement History</h2>

<div class="statements">
@foreach (var statement in Model) {
    <div class="statement">
        <pre>
        @statement.Text
		Points from this transaction: @statement.Points      
        </pre>
    </div>
}

<p>Total Points: @Model.Sum(m => m.Points)</p>
<p>Total Amount Spent:	$@String.Format("{0:0.00}", Model.Sum(m => m.GetTotalValue())) </p>
@if(Model.Sum(m => m.Points) > 10)
{
	<text>You are eligible for a free rental</text>
}
</div>
