@model VideoWorld.Models.Statement

@{
    ViewBag.Title = "View Statement";
}

<h2>Statement for @Model.Customer.Name</h2>

<div class="statement">
<pre>
Rental Record for @Model.Customer.Name
@Html.Partial("Statement", Model)

Amount Charged is $@Model.GetTotalValue()        

</pre>
</div>


<p>
	Frequent Rental Points: @Model.Order.GetPoints() 
</p>


